<section id="extras">
  <aside>
    <h6>Recent Articles</h6>
    <ul>
      <% blog.articles[0...5].each do |article| %>
        <li>
          <a href="<%= article.url %>"><%= article.title %></a>
        </li>
      <% end %>
    </ul>

    <h6>Tags</h6>
    <ul>
      <% blog.tags.each do |tag, articles| %>
        <li><a href="<%= tag_path tag %>"><%= tag %> [<%= articles.size %>]</a></li>
      <% end %>
    </ul>

    <h6>By Year</h6>
    <ul>
      <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
        <li><a href="<%= blog_year_path year %>"><%= year %> [<%= articles.size %>]</a></li>
      <% end %>
    </ul>
  </aside>

</section>
