<!doctype html>
<html>
  <head>
    <%= auto_display_meta_tags(separator: '-') %>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" sizes="57x57"   href="<%= image_path "launcher-icon-57x57.png" %>" />
    <link rel="apple-touch-icon" sizes="72x72"   href="<%= image_path "launcher-icon-72x72.png" %>" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path "launcher-icon-114x114.png" %>" />
    <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path "launcher-icon-144x144.png" %>" />
    <link rel="apple-touch-icon" sizes="167x167" href="<%= image_path "launcher-icon-167x167.png" %>" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path "launcher-icon-180x180.png" %>" />
    <link rel="apple-touch-icon"                 href="<%= image_path "launcher-icon-180x180.png" %>" />
    <link rel="icon"             sizes="192x192" href="<%= image_path "launcher-icon-192x192.png"  %>">
    <link rel="icon"             sizes="36x36"   href="<%= image_path "launcher-icon-36x36.png"  %>">
    <link rel="icon"             sizes="48x48"   href="<%= image_path "launcher-icon-48x48.png"  %>">
    <link rel="icon"             sizes="72x72"   href="<%= image_path "launcher-icon-72x72.png"  %>">
    <link rel="icon"             sizes="96x96"   href="<%= image_path "launcher-icon-96x96.png"  %>">
    <link rel="icon"             sizes="144x144" href="<%= image_path "launcher-icon-144x144.png"  %>">
    <link rel="icon"                             href="<%= image_path "launcher-icon-192x192.png"  %>">

    <script type="text/javascript" src="//use.typekit.net/ned0mml.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag "index.bundle" %>
    <%= javascript_include_tag "head.bundle" %>
    <%= favicon_tag 'turtle-favicon.ico' %>
    <%= partial "partials/sumome" %>
  </head>
  <body id="application" class="typekit">
    <%= partial "partials/topbar" %>
    <div class="row">
      <section id="main" role="main" class="large-12 small-12 columns">
        <%= yield %>
      </section>
    </div>
    <%= partial "partials/zen" %>
    <%= partial "partials/footer" %>
    <%= javascript_include_tag "index.bundle" %>
    <%= yield_content :javascripts %>
    <%= partial "partials/analytics" %>
  </body>
</html>
