<!doctype html>
<html>
  <head>
    <%= auto_display_meta_tags(separator: '-') %>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon"                      href="/apple-touch-icon.png" />
    <link rel="icon"                                  href="/touch-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/touch-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="144x144" href="/touch-icon-144x144.png" />
    <link rel="icon" type="image/png" sizes="96x96"   href="/touch-icon-96x96.png" />
    <link rel="icon" type="image/png" sizes="72x72"   href="/touch-icon-72x72.png" />
    <link rel="icon" type="image/png" sizes="48x48"   href="/touch-icon-48x48.png">
    <link rel="icon" type="image/png" sizes="36x36"   href="/touch-icon-36x36.png">
    <link rel="icon" type="image/png" sizes="36x36"   href="/touch-icon-36x36.png">
    <link rel="icon" type="image/png" sizes="32x32"   href="/touch-icon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"   href="/touch-icon-16x16.png">

    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link rel="pingback" href="https://webmention.io/rossta.net/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/rossta.net/webmention" />

    <script type="text/javascript" src="//use.typekit.net/ned0mml.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag "app" %>
  </head>
  <body id="application" class="typekit">
    <%= partial "partials/topbar" %>
    <div class="row">
      <section id="main" role="main" class="large-12 small-12 columns">
        <%= yield %>
      </section>
    </div>
    <%= partial "partials/zen" %>
    <%= partial "partials/footer" %>
    <%= javascript_include_tag "runtime", "vendor", "app" %>
    <%= yield_content :javascripts %>
    <%= partial "partials/analytics" %>
  </body>
</html>
