<!doctype html>
<html class="antialiased" lang="en">
  <head>
    <%= auto_display_meta_tags(separator: '-') %>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="pingback" href="https://webmention.io/rossta.net/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/rossta.net/webmention" />

    <%= stylesheet_pack_tag "app" %>
  </head>
  <body id="application" class="leading-relaxed">
    <%= partial "partials/topbar" %>
    <main id="main" role="main" class="layout container">
      <%= yield %>
    </main>
    <%= partial "partials/zen" %>
    <%= partial "partials/footer" %>
    <%= javascript_pack_tag "runtime", "vendors~app", "app" %>
    <%= yield_content :javascripts %>
    <%= partial "partials/analytics" %>
  </body>
</html>
