<% wrap_layout :layout do %>
  <% content_for(:title) { current_article.title } %>
  <% content_for(:section) { 'I write about things' } %>
  <section id="blog">
    <article class="post">
      <header>
        <h2>
          <%= current_article.title %>
          <% if current_page.data.alt_title %>
          <br />
          <small><%= current_page.data.alt_title %></small>
          <% end %>
        </h2>
      </header>

      <%= yield %>

      <h2><small><%= current_article.date.strftime('%b %e') %></small></h2>
    </article>
    <section class="signup-form">
      <%= partial "layouts/signup" %>
    </section>
    <% if build? %>
      <section class="comments">
        <%= partial "layouts/share" %>
        <%= partial "layouts/current_article_comments" %>
      </section>
    <% end %>
  </section>
<% end %>
