<% tags = current_page.data.tags || [] %>
<% wrap_layout :layout do %>
  <% content_for(:title) { current_article.title } %>
  <% content_for(:section) { 'I write about things' } %>
  <% title current_article.title %>
  <% description current_page.data.description %>
  <% keywords tags.join(', ') %>
  <article class="post mb-12">
    <%= page_header current_article.title, current_page.data.summary %>
    <%= yield %>
  </article>
  <section class="mb-12">
    <p class="text-right">
      <%= discuss_article_on_twitter_link_to(current_article, class: "font-bold") %>
      &middot;
      <span class="italic font-light">
        <% if current_page.data.series %>
          <% series =  current_page.data.series %>
          Part of the <%= link_to series, series_path(series, "blog") %> series.
        <% end %>
        Published on <%= current_article.date.strftime('%b %e, %Y') %>
      </span>
    </p>
  </section>
  <section class="signup-form-standalone hero">
    <%= partial "partials/signup" %>
  </section>
  <section class="index-posts mb-24">
    <h2 class="mb-8">More posts</h2>
    <%= partial "partials/article_index", locals: { local_articles: related_articles(current_article, 3) } %>
  </section>
  <article class="mb-24">
    <% if current_page.data.pull_image %>
      <figure>
        <%= lazy_image_tag current_page.data.pull_image if current_page.data.pull_image %>
        <% if current_page.data.pull_image_caption %>
          <figcaption><%= current_page.data.pull_image_caption %></figcaption>
        <% end %>
      </figure>
    <% end %>
  </article>
  <% if current_page_tagged?(%w[Rails Webpack]) %>
    <!-- Webpack on Rails course popup form -->
    <script async data-uid="92c0bd55d0" src="https://little-fog-6985.ck.page/92c0bd55d0/index.js"></script>
  <% end %>
<% end %>
