<% wrap_layout :layout do %>
  <% content_for(:title) { current_article.title } %>
  <% content_for(:section) { 'Blog' } %>
  <section id="blog">
    <article class="post">
      <header>
        <h2>
          <%= current_article.title %>
          <br /><small><%= current_article.date.strftime('%b %e') %></small>
        </h2>
        <%= partial "layouts/share" %>
      </header>
      <%= yield %>
    </article>
    <% if !build? %>
    <section class="comments">
      <%= partial "layouts/share" %>
      <%= partial "layouts/current_article_comments" %>
    </section>
    <% end %>
  </section>
<% end %>
