<% nozen! %>
<% wrap_layout :layout do %>
  <% content_for(:title) { current_article.title } %>
  <% content_for(:section) { 'I write about things' } %>
  <% title current_article.title %>
  <% description current_page.data.description %>
  <% keywords (current_page.data.tags || []).join(', ') %>
  <section id="blog">
    <article class="post">
      <%= page_header current_article.title, current_page.data.summary %>

      <%= yield %>

      <br />

      <h2><small>Published on <%= current_article.date.strftime('%b %e, %Y') %></small></h2>
    </article>
  </section>
  <br /><br />
  <% if current_page.data.series %>
    <% series =  current_page.data.series %>
    <section class="blog-series">
      <p>This post is part of the <%= link_to series, series_path(series) %> series.</p>
    </section>
    <br /><br />
  <% end %>
  <section class="signup-form">
    <%= partial "layouts/signup" %>
  </section>
  <br /><br />
  <% if build? %>
    <section class="comments">
      <%= partial "layouts/current_article_comments" %>
    </section>
  <% end %>
<% end %>
