<% nozen! %>
<% wrap_layout :layout do %>
  <% content_for(:title) { current_article.title } %>
  <% content_for(:section) { 'I write about things' } %>
  <% title current_article.title %>
  <% description current_page.data.description %>
  <% keywords (current_page.data.tags || []).join(', ') %>
  <section id="blog" class="margin-bottom double">
    <article class="post margin-bottom double">
      <%= page_header current_article.title, current_page.data.summary %>

      <%= yield %>

    </article>
    <hr />
    <section class="margin-bottom double">
      <p>
        <% if current_page.data.series %>
          <% series =  current_page.data.series %>
          This post is part of the <%= link_to series, series_path(series) %> series.
        <% end %>
        Published on <%= current_article.date.strftime('%b %e, %Y') %>
      </p>
      <%= partial "layouts/tweet" %>
      <%= partial "layouts/follow" %>
    </section>
  </section>
  <section class="share margin-bottom double">
  </section>
  <section class="signup-form standalone margin-bottom double">
    <%= partial "layouts/signup" %>
  </section>
  <% if build? %>
    <hr />
    <section class="comments">
      <%= partial "layouts/current_article_comments" %>
    </section>
  <% end %>
<% end %>
