<% wrap_layout :layout do %>
  <% content_for(:title) { current_article.title } %>
  <% content_for(:section) { 'I write about things' } %>
  <% title current_article.title %>
  <% description current_page.data.alt_title %>
  <% keywords current_page.data.tags.join(', ') %>
  <section id="blog">
    <article class="post">
      <header>
        <h2>
          <%= current_article.title %>
          <% if current_page.data.alt_title %>
          <br />
          <small><%= current_page.data.alt_title %></small>
          <% end %>
        </h2>
      </header>

      <%= yield %>

      <h2><small>Published on <%= current_article.date.strftime('%b %e, %Y') %></small></h2>
    </article>
    <% if build? %>
      <section class="comments">
        <%= partial "layouts/current_article_comments" %>
      </section>
    <% end %>
  </section>
  <br /><br />
  <section class="signup-form">
    <%= partial "layouts/signup" %>
  </section>
  <br /><br />
<% end %>
