<% prompt ||= nil %>
<script src="https://f.convertkit.com/ckjs/ck.5.js" async></script>
<form
  action="https://app.convertkit.com/forms/<%= convertkit_inline_form_id %>/subscriptions?ref=<%= convertkit_campaign %>"
  class="seva-form formkit-form"
  method="post"
  data-sv-form="<%= convertkit_inline_form_id %>"
  data-uid="cda82aafbf"
  data-format="inline"
  data-version="5"
  data-options="{&quot;settings&quot;:{&quot;after_subscribe&quot;:{&quot;action&quot;:&quot;message&quot;,&quot;success_message&quot;:&quot;Success! Now check your email to confirm your subscription.&quot;,&quot;redirect_url&quot;:&quot;&quot;},&quot;modal&quot;:{&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:&quot;300&quot;,&quot;devices&quot;:null,&quot;show_once_every&quot;:&quot;7&quot;},&quot;recaptcha&quot;:{&quot;enabled&quot;:false},&quot;return_visitor&quot;:{&quot;action&quot;:&quot;show&quot;,&quot;custom_content&quot;:&quot;&quot;},&quot;slide_in&quot;:{&quot;display_in&quot;:null,&quot;trigger&quot;:null,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:null,&quot;devices&quot;:null,&quot;show_once_every&quot;:null}}}"
>
  <div>
    <div class="mb-4">
      <% if prompt %>
        <%= partial "partials/signup_prompt_#{prompt}" %>
      <% elsif current_article.present? %>
        <%= partial "partials/signup_prompt_webpack_on_rails_landing" %>
      <% else %>
        <%= partial "partials/signup_prompt" %>
      <% end %>
    </div>
    <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
    <div data-element="fields" data-stacked="false" class="seva-fields formkit-fields">
      <div class="formkit-field">
        <label for="email_address" class="sr-only">Email address</label>
        <input
          class="formkit-input"
          id="email_address"
          name="email_address"
          placeholder="Your email address"
          required=""
          type="email"
          style="border-color: rgb(227, 227, 227); border-radius: 4px; color: rgb(0, 0, 0); font-weight: 400;"
        />
      </div>
      <button
        data-element="submit"
        class="formkit-submit button button-green"
      >
        <div class="formkit-spinner">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <span>Subscribe</span>
      </button>
    </div>
    <a
      href="https://convertkit.com/?utm_source=dynamic&amp;utm_medium=referral&amp;utm_campaign=poweredby&amp;utm_content=form"
      class="formkit-powered-by"
      data-element="powered-by"
      target="_blank"
      rel="noopener noreferrer"
      >Powered By ConvertKit</a
    >
  </div>
  <style>
  </style>
  <% current_page_tags.each_with_index do |tag, i| %>
    <input type="hidden" name="tags[]" value="<%= convertkit_tag_value(tag) %>" />
  <% end %>
  <input type="hidden" aria-label="URL" name="fields[url]" placeholder="URL" value="<%= current_url %>" />
</form>
