<header id="welcome-nav" class="top-bar text-gray-800 sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-3" data-topbar>
  <div class="flex justify-between items-center px-4 py-3 sm:p-0">
    <h1 class="text-2xl font-bold">
      <a class="logo" href="/"><span>rossta.net</span></a>
    </h1>
    <button type="button" aria-label="Menu" class="top-bar-menu-button sm:hidden block text-gray-500 hover:text-gray-700 focus:text-gray-700 focus:outline-none">
      <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
        <path class="icon" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
        <path class="icon hidden" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
      </svg>
    </button>
  </div>
  <nav class="top-bar-section hidden sm:block sm:flex sm:justify-around px-2 pt-2 pb-4<%= ' homepage' if homepage? %>">
    <% nav_class = "block px-2 py-1 hover:bg-green-200 sm:mt-0 sm:ml-2 mt-1" %>
    <a class="<%= nav_class %>" href="/blog/">blog</a>
    <a class="<%= nav_class %>" href="/series/">series</a>
    <a class="<%= nav_class %>" href="/talks/">talks</a>
    <a class="<%= nav_class %>" href="/projects/">projects</a>
    <a class="<%= nav_class %>" href="/about/">about</a>
    <a class="<%= nav_class %>" href="/feed.xml">feed</a>
  </nav>
</header>
