---
pageable: true
per_page: 5
---
<% content_for(:section) { "Webpack on Rails" } %>
<%= page_header "Upgrade to Webpacker without all the fuss", "The Missing Guide to Webpack on Rails" %>
<section class="mb-8">
  <p class="mb-4">
    Struggling to get webpack to do what you want?
  </p>
  <p class="mb-4">
    Terrified of making changes to your config?
  </p>
  <p class="mb-4">
    Does the thought of migrating from Sprockets to Webpacker <span class="italic">make you want to cry?</span>
  </p>
</section>
<section class="hero-mask text-xl mb-8 text-purple-800 bg-purple-100">
  Frontend development with Rails these days is <span class="font-bold">hard</span>.
</section>
<section class="mb-8">
  <h3 class="mb-4">Why is this so difficult?</h3>
  <p class="mb-4">
    <span class="font-bold">Modular JavaScript is a dramatic shift in how we write and compile code.</span> Sure, life with the Rails asset pipeline was much simpler. With webpack, we cannot rely on global code execution by default as before.
  </p>
  <p class="mb-4">
    <span class="font-bold">Webpack configuration lacks the developer friendliness we know and love in Rails.</span> It's no secret, webpack is a capricious beast. Webpacker aims to reduce the overhead in getting up-and-running with webpack, but there's still some basics you're forced to learn.
  </p>
  <p class="mb-4">
    <span class="font-bold">The JS community moves at a fast pace making it difficult to keep up.</span> Babel, PostCSS, browserlist, React, Vue, Angular, Stimulus, webpack, node modules, NPM, yarn, argggghhhhh!!!
  </p>
  <p class="mb-4">
    There's a lack of information for Rails developers—<span class="font-bold">there's (currently) no official Rails guide for Webpacker!</span> No fear, I'm here to help fill the gap.
  </p>
</section>
<section class="hero-mask bg-orange-200 text-xl mb-16 py-16 text-center">
  <div class="mb-4">
    The migration from Sprockets to Webpacker is one of the most challenging upgrades in the history of Rails, even for experienced Rails developers.
  </div>
  <div>
    It doesn't have to be this way.
  </div>
</section>
<section class="mb-8">
  <h2 class="mb-4"><span class="text-gray-600">Coming Soon!</span> The Webpacker Survival Guide</h2>
  <p class="mb-4">
    My name is Ross Kaffenberger.
    I've been building web apps with JavaScript and Rails since 2007.
    Recently, I've spent a lot of time helping teams transition their Rails apps to the latest tools like React, Vue, and webpack.
  </p>
  <p class="mb-4">
    I'm putting together resources to help Rails developers master modern frontend development with Rails, starting with <strong>The Webpacker Survival Guide</strong>.
  </p>
</section>
<section class="signup-form-standalone hero">
  <%= partial "partials/signup", locals: {prompt: :webpack_on_rails_landing} %>
</section>
<section class="hero-mask mb-8 bg-blue-800 text-gray-200">
  <h2 class="mb-4 text-gray-200">What's included?</h2>
  <p class="mb-4">
    The Webpacker Survival Guide is broken into iterative modules, each building on the previous, to ensure you're covered from the basics to more advanced features. The course applies to Rails 4.2 through Rails 6.0 and Webpacker 4.0 through 6.0 (pending release).
  </p>
</section>
<section class="mb-8">
  <section class="clearfix mb-8">
    <h3 class="mb-4">Install and upgrade Webpacker</h3>
    <%= image_tag 'webpack-on-rails/noun_development_1091862.svg', class: "float-left mr-4" %>
    <p class="">Learn how to hook up your Rails app with both the Webpacker gem and the NPM package.</p>
  </section>
  <section class="clearfix mb-8">
    <h3 class="mb-4">Organize your code</h3>
    <%= image_tag 'webpack-on-rails/noun_hierarchy_1091971.svg', class: "float-right ml-4" %>
    <p class="">Managing your source code works a little differently in Webpacker than with the Rails asset pipeline. Make sure you don't make common mistakes like "overpacking."</p>
  </section>
  <section class="clearfix mb-8">
    <h3 class="mb-4">Write with tomorrow's JavaScript syntax today</h3>
    <%= image_tag 'webpack-on-rails/noun_html_1091900.svg', class: "float-left mr-4" %>
    <p class="">Babel? Browserlist? Webpacker supports transpiling from the latest EcmaScript syntax to legacy formats your supported browsers will understand. Learn how it all works.</p>
  </section>
  <section class="clearfix mb-8">
    <h3 class="mb-4">Import and export JavaScript modules</h3>
    <%= image_tag 'webpack-on-rails/noun_Network_1092037.svg', class: "float-right ml-4" %>
    <p class="">DHH has stated that "the ship has sailed" on Sprockets support for JavaScript modules. With webpack, modules are the default. Understand how it works and what it means for your source files.</p>
  </section>
  <section class="clearfix mb-8">
    <h3 class="mb-4">Use Webpacker for CSS and images</h3>
    <%= image_tag 'webpack-on-rails/noun_Camera_1091895.svg', class: "float-left mr-4" %>
    <p class="">Yes, you can! The developer experience is still a work-in-progress, but it doesn't have to be overwhelming. Learn a few basic tips will help clear up the confusion.</p>
  </section>
  <section class="clearfix mb-8">
    <h3 class="mb-4">Debug the compiled output</h3>
    <%= image_tag 'webpack-on-rails/noun_Bug_1092049.svg', class: "float-right ml-4" %>
    <p class="">With webpack and the full-power of the vast JS community, we have access to advanced tools to help visualize what's going on inside your JavaScript bundles.</p>
  </section>
  <section class="clearfix mb-8">
    <h3 class="mb-4">Deploy Webpacker-compiled assets</h3>
    <%= image_tag 'webpack-on-rails/noun_Rocket_1091875.svg', class: "float-left mr-4" %>
    <p class="">Make your hard-earned source code available to your users in production.</p>
  </section>
  <section class="clearfix mb-8">
    <h3 class="mb-4">Migrate to Sprockets gracefully</h3>
    <%= image_tag 'webpack-on-rails/noun_Compass_1091933.svg', class: "float-right ml-4" %>
    <p class="mb-8">Moving your source code to Webpacker doesn't have to be a superhuman effort. Save time and resources with my migration guide.</p>
  </section>
  <section class="clearfix mb-8">
    <h3 class="mb-4">Optimize your webpack bundles</h3>
    <%= image_tag 'webpack-on-rails/noun_Internet_speed_1091866.svg', class: "float-left mr-4" %>
    <p class="mb-8">There's no need to ship massive JavaScript bundles to your users. My Webpacker Packing Checklist will provide the guide rails you need to optimize for production.</p>
  </section>
</section>
<section class="mb-8">
  <p class="mb-4">Can't wait? This site has a ton of free content to help you get started.</p>
</section>
<%
  article_groups = {
    'Overview' => 'Why upgrade?',
    'Feature' => 'Deep dives',
    'Guide' => 'The missing guide',
    'WTF' => 'Webpacker WTFs',
    'Debugging' => 'Debugging tips'
  }
%>
<% article_groups.each do |tag, title| %>
  <section class="index-posts mb-8">
    <h2 class="mb-4 text-gray-600"><%= title %></h2>
    <%= partial "partials/article_index", locals: {
    local_articles: webpack_on_rails_articles.select { |a| a.tags.include?(tag) }
    } %>
  </section>
<% end %>
<section class="signup-form-standalone hero-mask">
  <%= partial "partials/signup", locals: {prompt: :webpack_on_rails_landing} %>
</section>
