---
pageable: true
per_page: 5
---
<% content_for(:section) { "Webpack on Rails" } %>

<%= page_header "Webpack on Rails", "The Missing Guide" %>

<section class="mb-4">
  <p class="mb-4">
    Frontend development with Rails these days is <span class="font-bold">hard</span>.
  </p>
</section>

<section class="mb-4">
  <p class="mb-4">
    Webpacker now ships by default in Rails 6 but there's no need to stress.
  </p>
  <p class="mb-4">
    I'm putting together resources to help Rails developers master modern frontend development with Rails, starting with <strong>Webpack on Rails</strong>.
  </p>
</section>

<section class="signup-form-standalone hero">
  <%= partial "partials/signup", locals: {prompt: :webpack_on_rails_landing} %>
</section>

<section class="mb-16">
  <p class="mb-4">
    My name is Ross Kaffenberger.

    I've been building web apps with JavaScript and Rails since 2007.

    Recently, I've spent a lot of time helping teams transition their Rails apps to the latest tools like React, Vue, and webpack.
  </p>
</section>

<%
  article_groups = {
    'Overview' => 'Why upgrade?',
    'Feature' => 'Deep dives',
    'Guide' => 'The missing guide',
    'WTF' => 'Webpacker WTFs',
    'Debugging' => 'Debugging tips'
  }
%>

<% article_groups.each do |tag, title| %>
<section class="index-posts mb-16">
  <h2 class="mb-8 text-gray-600"><%= title %></h2>
  <%= partial "partials/article_index", locals: {
    local_articles: webpack_on_rails_articles.select { |a| a.tags.include?(tag) }
    } %>
</section>
<% end %>

<section class="signup-form-standalone hero">
  <%= partial "partials/signup", locals: {prompt: :webpack_on_rails_landing} %>
</section>
