---
pull_image: 'blog/stock/denisse-leon-mixer-board-unsplash.jpg'
pageable: true
per_page: 4
---
<% content_for(:title) { } %>
<% content_for(:section) { 'I make things' } %>
<section id="hero" class="hero mb-12 bg-silver">
  <section class="flex items-center justify-between mb-4">
    <header>
      <h1>Hello! I'm Ross. I build web apps.</h1>
    </header>
    <%= partial "partials/social" %>
  </section>
  <section class="mb-12">
    <p>Building applications for the web is HARD.
      Here's where I share what I've learned.
      Check out my
      <%= link_to "writing", "/blog" %>,
      <%= link_to "talks", '/talks' %>
      and
      <%= link_to "projects", "/projects" %>.
      You can also connect with me on
      <%= link_to "Twitter", "https://twitter.com/rossta" %>
      and
      <%= link_to "Medium", "https://medium.com/@rossta" %>
      where I talk about other stuff too.</p>
  </section>
  <%= partial "partials/signup" %>
</section>
<section class="mb-12">
  <h2 class="mb-8">New? Start here</h2>
  <section class="index-posts">
    <% blog_series.each do |series| %>
      <article class="index-post mb-8">
        <header class="index-title font-bold mb-2 text-xl">
          <%= link_to series.title, series_path(series.id, "blog") %> <small class="uppercase text-gray-500 text-xs">&middot; Series</small>
        </header>
        <p class="index-alt-title subtle text-gray-700"><%= series.summary %></p>
      </article>
    <% end %>
    <% page_articles.each do |article| %>
      <article class="index-post mb-8">
        <header>
          <div class="font-bold mb-2">
            <%= link_to article.title, article, class: "text-xl" %>
          </div>
        </header>
        <% if article.data.summary %>
          <p class="index-alt-title subtle text-gray-700"><%= article.data.summary %></p>
        <% end %>
      </article>
    <% end %>
  </section>
</section>
