---
pageable: true
per_page: 5
---
<% content_for(:title) { 'Home' } %>
<% content_for(:section) { 'I make things' } %>
<% page_articles.each_with_index do |article, i| %>
  <article class="index-post">
    <header>
      <h2>
        <%= link_to article.title, article %>
        <br />
        <small><%= article.date.strftime('%b %e') %></small>
      </h2>
   </header>
    <%= article.body %>
    <div class="comments">
      <%= link_to "Comments", article, anchor: "disqus_thread" %>
    </div>
  </article>
<% end %>

<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<section>
  <a href="/blog">See all posts &raquo;</a>
</section>
<% if build? %>
<%= partial "layouts/comment_count" %>
<% end %>
