---
pageable: true
per_page: 5
---
<% content_for(:title) { 'Home' } %>
<% content_for(:section) { 'I make things' } %>
<% page_articles.each_with_index do |article, i| %>
  <article class="index-post">
    <header>
      <h2>
        <%= link_to article.title, article %>
      </h2>
        <% if article.data.alt_title %>
          <p class="alt-title subtle"><%= article.data.alt_title %></p>
        <% end %>
    </header>
    <%= article.body %>

    <h3><small><%= article.date.strftime('%b %e') %></small></h3>
    <div class="comments">
      <%= link_to "Comments", article, anchor: "disqus_thread" %>
      <% if build? %>
        <%= partial "layouts/comment_count" %>
      <% end %>
    </div>
  </article>
<% end %>

<% if paginate %>
  <section class="row pagination">
    <div class="columns large-3 small-6">
      Page <%= page_number %> of <%= num_pages %>
    </div>
    <div class="columns large-3 small-6">
      <% if next_page %>
        <%= link_to 'Next page', next_page %>
      <% else %>
        <span class="subtle">Next page</span>
      <% end %>
    </div>
    <div class="columns large-3 small-6">
      <% if prev_page %>
        <%= link_to 'Previous page', prev_page %>
      <% else %>
        <span class="subtle">Previous page</span>
      <% end %>
    </div>
    <div class="columns large-3 small-6">
      <a href="/blog">See all posts &raquo;</a>
    </div>
  </section>
<% end %>
