---
pull_image: 'blog/stock/denisse-leon-mixer-board-unsplash.jpg'
pageable: true
per_page: 4
---
<% content_for(:title) { } %>
<% content_for(:section) { 'I make things' } %>

<section id="hero" class="hero">
  <section class="flex align-center space-between">
    <header>
      <h1>Hello! I'm Ross. I build web apps.</h1>
    </header>
    <ul class="icon-list flex">
      <li><%= link_to(image_tag("icons/twitter-64x.png"), "https://twitter.com/rossta", class: "header-icon icon", target: "_blank", rel: "no-follow") %></li>
      <li><%= link_to(image_tag("icons/github-64x.png"), "https://github.com/rossta", class: "header-icon icon", target: "_blank", rel: "no-follow") %></li>
      <li><%= link_to(image_tag("icons/medium-64x.png"), "https://medium.com/rossta", class: "header-icon icon", target: "_blank", rel: "no-follow") %></li>
    </ul>
  </section>
  <section>
    <p>Building applications for the web is HARD.
      Here's where I share what I've learned.
      Check out my
      <%= link_to "writing", "/blog" %>,
      <%= link_to "talks", '/talks' %>
      and
      <%= link_to "projects", "/projects" %>.

      You can also connect with me on
      <%= link_to "Twitter", "https://twitter.com/rossta" %>
      and
      <%= link_to "Medium", "https://medium.com/@rossta" %>
      where I talk about other stuff too.</p>
  </section>
  <%= partial "partials/signup" %>
</section>

<h2 class="margin-bottom">New? Start here</h2>
<section class="index-posts margin-top">
  <% blog_series.each do |series| %>
    <article class="index-post">
      <header>
        <h4><%= link_to series.title, series_path(series.id, "blog") %> <small>&middot; SERIES</small></h4>
        <p class="alt-title subtle"><%= series.summary %></p>
      </header>
    </article>
  <% end %>
  <% page_articles.each do |article| %>
    <article class="index-post">
      <header>
        <h4>
          <%= link_to article.title, article %>
        </h4>
        <% if article.data.summary %>
          <p class="alt-title subtle"><%= article.data.summary %></p>
        <% end %>
      </header>
    </article>
  <% end %>
</section>
