<!doctype html>
<html>
  <head>
    <title><%= title_tag %></title>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= auto_display_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/ned0mml.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag 'head' %>
    <%= favicon_tag 'favicon.ico' %>
  </head>
  <body id="application" class="typekit">
    <%= partial 'layouts/topbar' %>
    <div class="row">
      <section id="main" role="main" class="large-12 small-12 columns">
        <%= yield %>
      </section>
    </div>
    <%= partial 'layouts/zen' %>
    <div class="row">
      <footer>
        <section class="large-12 columns center-inline-list">
          <%= partial 'layouts/contact' %>
        </section>
      </footer>
    </div>
    <%= javascript_include_tag "all" %>
    <%= partial "layouts/analytics" %>
  </body>
</html>
