---
pageable: true
per_page: 25
---

<%= page_header series, 'A rossta.net series' %>

<br>
<section class="index-posts margin-top">
  <% page_articles.each_with_index do |article, i| %>
    <%= partial "partials/post_item", locals: { title: article.title, path: article, summary: article.data.summary} %>
  <% end %>
</section>

<br>
<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page || next_page %>
    <p>
      <% if prev_page %>
        <%= link_to "Previous", prev_page %></p>
      <% end %>
      <% if next_page %>
        <%= link_to "Next page", next_page %>
      <% end %>
    </p>
  <% end %>
<% end %>
